<launch>
<node name="calibration_node" pkg="stereo_visual_odometry" type="calibrate.py" output = "screen"/>
<param name="calib_image_num" type="int" value="10"/> 
<node name="stereo_visual_odometry_node" pkg="stereo_visual_odometry" type="svo.py" output = "screen"/>
<node name="rviz" pkg="rviz" type="rviz" args = "-d $(find stereo_visual_odometry)/rviz/svo.rviz"/> 
</launch>